################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevOps Labs/Tutorial/.vs/Tutorial/v16
