@model FutureAgro.DataAccess.Models.Planta

@{
    ViewData["Title"] = "Create";
}

<h2>Crear</h2>

<h4>Planta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdTipoPlanta" class="control-label"></label>
                <select asp-for="IdTipoPlanta" class ="form-control" asp-items="ViewBag.IdTipoPlanta"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Viva" /> @Html.DisplayNameFor(model => model.Viva)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Crecimiento" class="control-label"></label>
                <input asp-for="Crecimiento" class="form-control" />
                <span asp-validation-for="Crecimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdModulo" class="control-label"></label>
                <select asp-for="IdModulo" class ="form-control" asp-items="ViewBag.IdModulo"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Lista</a>
</div>

