@{
    ViewData["Title"] = "Home";
}

@section Scripts
    {
    <script src="~/js/Home/Charts.js"></script>

    <!--B-ScriptsHome-->
}

<div class="container-fluid">
    <div class="row">
        <div class="col-2 border-right">
            <small class="text-black-50">Plantas Vivas</small>
            <br />
            <h2 class="text-black-50">250</h2>
        </div>
        <div class="col-2 border-right">
            <small class="text-black-50">Plantas Muertas</small>
            <br />
            <h2 class="text-black-50">30</h2>
        </div>
        <div class="col-2 border-right">
            <small class="text-black-50">Listas para cosecha</small>
            <br />
            <h2 class="text-black-50">40</h2>
        </div>
        <div class="col-2 border-right">
            <small class="text-black-50">En crecimiento</small>
            <br />
            <h2 class="text-black-50">200</h2>
        </div>
    </div>
    <div class="row pt-3">
        <!--B-ChartsHome-->
        <div class="col-6">
            <canvas id="ChartCosecha" height="120"></canvas>
        </div>
    </div>
</div>