@{
    ViewData["Title"] = "Home";
}

@section Scripts
    {
    <script>
        var chartDataTemperatura = @Html.Raw(Json.Serialize(ViewData["DatosTemperatura"]));
        var chartDataHumedad = @Html.Raw(Json.Serialize(ViewData["DatosHumedad"]));
        var chartDataLuminosidad = @Html.Raw(Json.Serialize(ViewData["DatosLuminosidad"]));
    </script>
    <script src="@Url.Content("~/js/Home/Charts.js")"></script>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-2 border-right">
            <small class="text-black-50">Plantas Vivas</small>
            <br />
            <h2 class="text-black-50">250</h2>
        </div>
        <div class="col-2 border-right">
            <small class="text-black-50">Plantas Muertas</small>
            <br />
            <h2 class="text-black-50">30</h2>
        </div>
        <div class="col-2 border-right">
            <small class="text-black-50">Listas para cosecha</small>
            <br />
            <h2 class="text-black-50">40</h2>
        </div>
        <div class="col-2 border-right">
            <small class="text-black-50">En crecimiento</small>
            <br />
            <h2 class="text-black-50">200</h2>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-6 border-right border-bottom">
            <canvas id="ChartTemperatura" height="120"></canvas>
        </div>
        <div class="col-6 border-bottom">
            <canvas id="ChartHumedad" height="120"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-6 border-right">
            <canvas id="ChartLuz" height="120"></canvas>
        </div>
        <div class="col-6">
            <canvas id="ChartCosecha" height="120"></canvas>
        </div>
    </div>
</div>