@{
    ViewData["Title"] = "Detail";
}
@section Scripts
{
    <script src="@Url.Content("~/js/Ambiente/Charts.js")"></script>
}

<div class="container-fluid">
    <h3>Control de ambiente</h3>
    <div class="card mt-1 border-0">
        <div class="card-body">
            <div class="media m-1 mt-2">
                <div class="media-body">
                    <h5 class="media-title">
                        Módulo 1
                    </h5>

                    <ul class="navbar-nav float-right justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Modulos/Detail">Ver Plantas</a>
                        </li>
                    </ul>

                    <div class="row mt-4 mb-1">
                        <div class="col-4">
                            <span class="mdl-switch__label" style="left:0;">Calefacción</span>
                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect w-25" for="switch-Calefaccion">
                                <input type="checkbox" id="switch-Calefaccion" class="mdl-switch__input">
                            </label>
                        </div>

                        <div class="col-4">
                            <span class="mdl-switch__label" style="left:0;">Aspersores</span>
                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect w-25" for="switch-Aspersores">
                                <input type="checkbox" id="switch-Aspersores" class="mdl-switch__input" checked />
                            </label>
                        </div>

                        <div class="col-4">
                            <span class="mdl-switch__label" style="left:0;">Luces</span>
                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect w-25" for="switch-Luces">
                                <input type="checkbox" id="switch-Luces" class="mdl-switch__input">
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <h5 class="col-6"><i class="fas fa-thermometer-half"></i> Temperatura</h5>
                            <canvas id="ChartTemperatura" height="80"></canvas>
                        </div>
                        <div class="col-6">
                            <h5 class="col-6"><i class="fas fa-tint"></i> Humedad</h5>
                            <canvas id="ChartHumedad" height="80"></canvas>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <h5 class="col-6"><i class="fas fa-lightbulb"></i> Luminosidad</h5>
                            <canvas id="ChartLuz" height="80"></canvas>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

