@{
    ViewData["Title"] = "Home";
}

@section Scripts
{
    <!--B-ScriptsHome-->

<!--Code injected by: LecturaTemp_ScriptsHome-->
<script>        
			var chartDataTemperatura = @Html.Raw(Json.Serialize(ViewData["DatosTemperatura"]));
		</script>
		<script src="~/js/Home/ChartTemperaturaHome.js"></script>
<!--Code injected by: LecturaTemp_ScriptsHome-->


<!--Code injected by: LecturaHum_ScriptsHome-->
<script>        
			var chartDataHumedad = @Html.Raw(Json.Serialize(ViewData["DatosHumedad"]));
		</script>
		<script src="~/js/Home/ChartHumedadHome.js"></script>
<!--Code injected by: LecturaHum_ScriptsHome-->


<!--Code injected by: LecturaLum_ScriptsHome-->
<script>        
			var chartDataLuminosidad = @Html.Raw(Json.Serialize(ViewData["DatosLuminosidad"]));
		</script>
		<script src="~/js/Home/ChartLuminosidadHome.js"></script>
<!--Code injected by: LecturaLum_ScriptsHome-->

}
<div class="container-fluid">
    <div class="row">
        <!--B-IndicadoresHome-->
    </div>
    <div class="row pt-3">
        <!--B-ChartsHome-->

<!--Code injected by: LecturaTemp_ChartsHome-->
<div class="col-6 border-right border-bottom">
			<canvas id="ChartTemperatura" height="120"></canvas>
		</div>
<!--Code injected by: LecturaTemp_ChartsHome-->


<!--Code injected by: LecturaHum_ChartsHome-->
<div class="col-6 border-bottom">
			<canvas id="ChartHumedad" height="120"></canvas>
		</div>
<!--Code injected by: LecturaHum_ChartsHome-->


<!--Code injected by: LecturaLum_ChartsHome-->
<div class="col-6 border-right">
			<canvas id="ChartLuz" height="120"></canvas>
		</div>
<!--Code injected by: LecturaLum_ChartsHome-->

    </div>
</div>